#flashcard-test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.flashcard-div {
  width: 50vw;
  height: 50vh;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160px;
  position: relative;
}

#correct-mark {
  width: 100px;
  height: 100px;
  z-index: 10;
  color: rgb(34, 255, 34);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrong-mark {
  width: 100px;
  height: 100px;
  z-index: 10;
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-correct,
.hide-wrong {
  visibility: hidden;
}

.input-divs {
  height: 30px;
  width: 50vw;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-divs button {
  height: 100%;
  width: 20%;
}

#romaji,
#meaning {
  height: 100%;
  width: 80%;
}

#romaji::placeholder,
#meaning::placeholder {
  font-size: 1.1em;
}

@media (max-width: 600px) {
  #flashcard-test {
    height: 93.5vh;
  }
}
