#hiragana-combination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 28px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.hiragana-combination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
}

#hiragana-combination table {
  width: 50%;
  border: 1px solid var(--font-color);
}

#hiragana-combination th,
#hiragana-combination td {
  width: 50%;
  text-align: center;
  border: 1px solid var(--font-color);
}

#hiragana-combination::-webkit-scrollbar {
  width: 6px;
}

#hiragana-combination::-webkit-scrollbar-track {
  background-color: var(--button-background);
  border-radius: 100vw;
  margin-block: 5px;
}

#hiragana-combination::-webkit-scrollbar-thumb {
  background-color: var(--font-color);
  border-radius: 100vw;
}

#hiragana-combination::-webkit-scrollbar-thumb:hover {
  background-color: rgb(204, 204, 204, 0.8);
}
