#hidden-nav-bar {
  display: none;
}

.mobile-nav-bar {
  background-color: rgb(245, 245, 245);
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  position: relative;
  height: 6.5vh;
}

#hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

#hamburger:hover {
  background-color: rgb(230, 230, 230);
}

#hamburger svg {
  width: 30px;
  height: 30px;
}

#nav-bar-dropdown {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(110, 110, 110);
  background-color: rgb(110, 110, 110, 0.9);
  padding: 20px 0;
  gap: 20px;
  border-radius: 3px;
  z-index: 20;
}

#nav-bar-dropdown button {
  width: 30%;
  padding: 3px;
}

@media (max-width: 600px) {
  #hidden-nav-bar {
    display: block;
  }
}
