.nav-bar {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
  border-right: 2px solid var(--font-color);
}

.nav-bar button {
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  border: 2px solid var(--font-color);
}

@media (max-width: 600px) {
  .nav-bar {
    display: none;
  }
}
