:root {
  --background-black-1: #000000;
  --background-black-2: #333333;
  --font-color: #cccccc;
  --button-background: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 3fr 17fr;
  background: linear-gradient(
    to bottom right,
    var(--background-black-1),
    var(--background-black-2)
  );
  color: var(--font-color);
}

@media (max-width: 600px) {
  body {
    display: block;
  }
}
