.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkbox-wrapper {
  margin: 20px 0;
  padding: 3px 5px;
  width: 80vw;
  height: 50px;
  background-color: var(--primary-beige);
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

label {
  font-size: 16px;
}

.table-wrapper {
  background-color: var(--primary-beige);
  width: 80vw;
  border-radius: 50px;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 80%;
  border-radius: 12px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  width: 50%;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  font-size: 24px;
  text-align: center;
  padding: 6px 0;
}

td {
  width: 50%;
  border-bottom: 2px solid hsl(300, 100%, 100%);
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
}

tr:nth-of-type(even) {
  background-color: hsl(19, 100%, 91%);
}

@media (max-width: 600px) {
  .checkbox-wrapper label {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
