* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

nav {
  padding: 10px 20px;
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--secondary-blue); */
  /* box-shadow: 0px -2px 3px 0px inset var(--primary-blue); */
  font-family: "Playfair Display", serif;
}

.nav-left {
  /* color: var(--primary-blue); */
  cursor: pointer;
}

.nav-left h1 {
  font-family: "Edu SA Beginner", cursive;
  font-size: 42px;
}

.nav-right {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 10%;
  /* color: var(--primary-blue); */
  cursor: pointer;
}

.nav-right > * + * {
  margin-left: 60px;
}

.nav-right a {
  text-decoration: none;
  color: var(--primary-blue);
}

.nav-right-mobile {
  display: none;
}

.nav-selected {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--primary-blue), var(--primary-blue));
  background-size: 100% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease;
}

.nav-selected-white {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--primary-white), var(--primary-white));
  background-size: 100% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease;
}

@media (max-width: 600px) {
  .nav-right {
    display: none;
  }

  .nav-right-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  #hamburger-mobile {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #cross-mobile {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
  }

  #hamburger-mobile svg {
    color: var(--primary-white);
    background-color: var(--primary-blue);
    border-radius: 5px;
    padding: 0 2px;
    width: 40px;
    height: 40px;
  }

  #cross-mobile svg {
    color: var(--primary-white);
    background-color: var(--primary-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 2px;
    width: 40px;
    height: 40px;
  }

  .mobile-links {
    position: absolute;
    width: 130px;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px 14px;
    background-color: var(--primary-blue);
    border-radius: 5px 0 5px 5px;
    top: 99%;
    right: 0;
    font-size: 16px;
  }

  .mobile-links a {
    text-decoration: none;
    color: var(--primary-white);
    width: fit-content;
  }
}
