:root {
  --primary-blue: hsl(247, 44%, 40%);
  --secondary-blue: hsl(208, 62%, 96%);
  --primary-purple: hsl(247, 44%, 60%);
  --primary-white: hsl(300, 100%, 100%);
  --primary-beige: hsl(19, 100%, 93%);
}

html {
  background-color: var(--secondary-blue);
  color: var(--primary-blue);
}

.underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--primary-blue), var(--primary-blue));
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease;
}

.underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

.underline-white {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(var(--primary-white), var(--primary-white));
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease;
}

.underline-white:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}
