section {
  width: 100vw;
  height: 90vh;
  /* background-color: var(--secondary-blue); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--primary-blue); */
}

.section-container {
  background: url(https://studentspace.org.uk/assets/images/student-space_illustrations_studying.png);
  background-repeat: no-repeat;
  border-radius: 25px;
  /* border: 3px solid red; */
  padding: 50px 60px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-texts {
  width: 300px;
}

.section-texts h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.section-texts p {
  margin-top: 10px;
  font-size: 18px;
}

@media (max-width: 600px) {
  .section-texts h1 {
    font-size: 28px;
  }

  .section-texts p {
    font-size: 16px;
  }

  .section-container {
    background-position-x: 40%;
  }
}
